In [1]:
import pandas as pd
from pathlib import Path
import os

In [2]:
project_dir: Path = Path(os.getcwd()).resolve().parent
data: Path = project_dir / "resources" / "verbatims" / "contributions.json"

d = pd.read_json(data)
d

,body,number,time,user
0,"Je suis opposé à ce projet , sauvegarde du site",2290,2025-04-28 17:43:00,Anonyme
1,Ça fait des années qu'il faut moderniser le si...,2289,2025-04-28 17:42:00,Anonyme
2,CE projet à toute sa place sur notre commune d...,2288,2025-04-28 17:41:00,RUEL CLAUDE
3,"Madame, monsieur, \nPour des raisons environne...",2287,2025-04-28 17:38:00,audrey
4,Je suis contre ce projet. L'immobilier sur le ...,2286,2025-04-28 17:31:00,Anonyme
...,...,...,...,...
3605,Un projet catastrophique au regard des dégâts ...,3045,2025-04-29 16:45:00,Anonyme
3606,"Bonjour,\nVoici ma contribution au PPVE UTNS V...",3044,2025-04-29 16:42:00,Anonyme
3607,Je suis contre ce projet.\nQuand on imagine l'...,3043,2025-04-29 16:41:00,Clara BELLE
3608,Je m oppose aux projets TParker\nUNT ...20 000...,3042,2025-04-29 16:41:00,NGUYEN Frédérique
3609,Je suis opposée au projet d’UTNS sur le secteu...,3041,2025-04-29 16:40:00,Anonyme

In [6]:
d.isnull().sum()

body      0
number    0
time      0
user      0
dtype: int64